<div class="form-group has-success has-feedback search-bar">
  <form action="//google.com/search" method="get" target="_blank" accept-charset="utf-8" >
    <input type="search" name="q" results="0" placeholder="<%= __('search') %>" class="search-input">
    <input type="hidden" name="q" value="site:<%- config.url.replace(/^https?:\/\//, '') %>">   
  </form>
</div>
