.search-bar {
    margin-left: 30px;
    margin-top: 18px;
    .search-input {
        width: 186px;
        border-bottom: 1px dotted #bbb;
        border-left: none;
        border-right: none;
        border-top: none;
        background: none repeat scroll 0 0 transparent;
        color: #bbb
        height: 19px;
        outline: none;
    }
    .search-input:focus {
        box-shadow: 0 0 1px #bbb;
        border: none;
    }
}